<!-- recipes-index.handlebars -->

<h1>Recipes</h1>

<div class="row">
    {{#each recipes}}
        <div class="col-sm-3">
            <a href="/recipes/{{this._id}}">
                <h1>{{this.name}}</h1>
            </a>
            <p>{{this.description}}</p>
            <p>{{this.ingredients}}</p>
            <p>{{this.instructions}}</p>

            <form action="/recipes/{{this._id}}?_method=DELETE" method="POST">
                <a class="btn btn-default" href="/recipes/{{this._id}}/edit" role="button">Edit</a>
                <button class="btn btn-default" type="submit">Delete</button>
            </form>
        </div>
    {{/each}}
</div>
