<!-- recipes-show.handlebars -->

<a href="/">Back to Home</a>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{recipe.name}}</h1>
        <p>{{recipe.description}}</p>
        <p>{{recipe.ingredients}}</p>
        <p>{{recipe.instructions}}</p>

        <form class="form-group" action="/recipe/{{recipe._id}}/comments" method="POST">
            <p><strong>Comment</strong></p>
            <textarea class="form-control" name="content" rows="3" placeholder="Comment"></textarea>
            <button class="btn btn-default" type="submit">Reply</button>
        </form>

        <div class="">
            {{#each recipe.comments}}
                <p>{{this.content}}</p>
                <p>By: {{this.author.username}}</p>
            {{/each}}
        </div>
    </div>
</div>
